@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
html {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  background: #15202b;
  color: white;
}
